
body {
  font-family: 'Lato', arial, sans-serif;
  color: #434343;
  background: #fafafa url("../images/bg.png") repeat fixed center center !important;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #778492;
}
a {
  color: #2574a9;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}
a:hover {
  text-decoration: underline;
  color: #003b78;
}
a:focus {
  text-decoration: none;
}
.btn,
a.btn {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}
.btn .fa,
a.btn .fa {
  margin-right: 5px;
}
.btn:focus,
a.btn:focus {
  color: #fff;
}
a.btn-cta-primary,
.btn-cta-primary {
  background: #54ba4e;
  border: 1px solid #54ba4e;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-primary:hover,
.btn-cta-primary:hover {
  background: #49ac43;
  border: 1px solid #49ac43;
  color: #fff;
}
a.btn-cta-secondary,
.btn-cta-secondary {
  background: #479FC8;
  border: 1px solid #479FC8;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}
a.btn-cta-secondary:hover,
.btn-cta-secondary:hover {
  background: #3893bd;
  border: 1px solid #3893bd;
  color: #fff;
}
.clear{
    clear: both;
}
.text-highlight {
  color: #32383e;
}
.label-theme {
  background: #2574a9;
  font-size: 12px;
}
a.dotted-link {
  border-bottom: 1px dotted #778492;
  color: #778492;
}
a.dotted-link:hover {
  text-decoration: none;
  color: #49515a;
}
/*
iframe {

    .header {
        padding: 0;
    }
}

.iframe-wrapper {
    overflow: auto;
    -webkit-overflow-scrolling:touch;
}
*/




.navbar .navbar-nav {
    display: inline-block;
    float:none;
}

.navbar .navbar-collapse {
    text-align: center;
}

/* ======= Header ======= */
.header {
  background: #f5f5f5 url("../images/pattern-1.png") repeat scroll 0 0;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
  padding: 20px;
}
.header .btn {
  margin-top: 60px;
  font-weight: bold;
}
.header .profile-image {
  margin-right: 30px;
}
.header .profile-content .name {
    color: #2574a9;
    font-size: 38px;
    margin-bottom: 5px;
    margin-top: 30px;
    text-shadow: 0 1px 1px #c8c8c8;
}
.header .profile-content .desc {
  color: #778492;
  font-family: "Lato", arial, sans-serif;
  font-weight: 400;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 15px;
}
.header .profile-content .social a {
  background: #b0b7bf;
  width: 36px;
  height: 36px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  color: #fff;
  text-align: center;
}
.header .profile-content .social a:hover {
  background: #778492;
}
.header .profile-content .social a .fa {
  font-size: 20px;
  padding-top: 8px;
}

/* ======= Sections======= */
.sections-wrapper {
  padding-top: 20px;
  padding-bottom: 60px;
}
.header .section {
  margin-bottom: 0px;
}
.section {
    margin-bottom: 30px;
}
.resume{
    background: #f5f5f5 none repeat scroll 0 0!important;
}
.section .section-inner {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;   
}

.header .section-inner {
    background: #f5f5f5 url("../images/header.png") repeat-x scroll center bottom; 
}
.section-title {
    font-size: 18px;
    font-weight: bold;
    color: #324450;
}
.page ul.info-list li {
    font-size: 14px;
    line-height: 35px;
    list-style: outside none none;
}
.page ul.info-list li span {
    color: #2574a9;
}
.page-title {
    background: #f8f8f8 none repeat scroll 0 0;
    border-bottom: 1px dashed #cccccc;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    padding: 10px 30px;
}

.skills-section, .timeline-section {
    float: left;
}

h3.main-heading::after {
    background: #2574a9 none repeat scroll 0 0;
    bottom: -1px;
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    width: 40px;
}
h3.main-heading {
    border-bottom: 1px solid #ebebeb;
    clear: both;
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    margin: 0 2px 20px 0;
    padding-bottom: 14px;
    position: relative;
}
.timeline {
    margin-bottom: 30px;
    padding: 0;
}
.timeline li .timelineUnit {
    border-left: 1px solid #2574a9;
    color: #444;
    font-size: 13px;
    line-height: 17px;
    margin-left: 0;
    padding-left: 15px;
}
ol, ul {
    list-style: outside none none;
}
.timeline li .timelineUnit h4 {
    color: #444;
    font-size: 15px;
    line-height: 24px;
}
.timeline li .timelineUnit h5 {
    color: #999;
    font-size: 13px;
    line-height: 18px;
    width: 100px;
}
.timeline li .timelineUnit .timelineDate {
    color: #2574a9;
    float: right;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    margin-left: 10px;
    padding: 2px 6px;
}
.timeline li .timelineUnit p {
    color: #666;
    font-size: 12px;
    margin-top: 5px;
}
.language-skill{
    font-size: 14px;
}
.skills {
    margin-bottom: 25px;
    overflow: hidden;
    padding: 0;
}
.skills li {
    float: left;
    margin-bottom: 15px;
    padding-left: 0;
    width: 100%;
}
.skills li h4 {
    color: #444;
    float: left;
    font-size: 15px;
    font-weight: lighter;
    margin: 0;
    width: 140px;
}
.skills li .skill-list {
    float: left;
    height: 14px;
    width: 60%;
}
.skills .progress {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50px;
    display: block;
    height: 6px;
    margin: 5px 0;
    overflow: visible;
    position: relative;
    width: 100%;
}
.resume .button {
    background-color: #8c8c8c;
    border-radius: 0 4px 4px 0;
    color: #f7f7f7;
    display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    margin: 20px 0 0 -20px;
    overflow: hidden;
    padding: 10px;
    text-align: center;
    width: 250px;
}
.page-title h2 {
    color: #2574a9;
    margin-bottom: 0;
    margin-top: 0;
}
.page-title h2 {
    display: inline-block;
    font-size: 15px;
    font-weight: lighter;
}
.navbar-default {
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.content {
    padding: 30px;
}
.progress {
    background: #ffffff none repeat scroll 0 0;
    border-radius: 50px;
    display: block;
    height: 6px;
    margin: 15px 0;
    overflow: visible;
    position: relative;
    width: 100%;
}
.skill-list .progress .percentage {
    background-color: #2574a9;
}
.progress .percentage {
    border-radius: 50px 0 0 50px;
    bottom: 0;
    position: absolute;
    top: 0;
}
.social-icons {
    padding: 20px 40px ;
}

.social-icons a {
    border: 1px solid #2a2a2a;
    border-radius: 50px;
    color: #2a2a2a;
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    padding: 8px 0;
    text-align: center;
    width: 34px;
}
ul.skill-list h3 {
    display: block;
    margin-bottom: 0;
    font-size: 14px;
    color: #000;
	font-weight:bold;
}
.skill-list .progress {
    border: 1px solid #2574a9;
}
ul.skill-list li {
    list-style: outside none none;
}
ul.skill-list {
    padding:0px;
}
.section .heading {
  margin-top: 0;
  margin-bottom: 30px;
  color: #545e69;
  font-size: 24px;
}
.section .content .more-link .fa {
  margin-right: 5px;
  font-size: 14px;
}
/* About Section */
/* Latest Section */
.latest .item {
  margin-bottom: 30px;
}
.latest .item .title {
  font-size: 18px;
  margin-top: 0;
}
.latest .item .title .label {
  margin-left: 5px;
  font-size: 12px;
}
.latest .item .title a {
  color: #778492;
}
.latest .item .title a:hover {
  color: #5f6b77;
}
.latest .item .project-image:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
}
.latest .divider {
  margin-bottom: 60px;
}
.latest .featured {
  margin-bottom: 60px;
}
.latest .featured .title {
  margin-bottom: 5px;
  font-size: 20px;
}
.latest .featured .summary {
  margin-bottom: 30px;
  color: #778492;
}
.latest .featured img {
  margin-bottom: 30px;
}
.latest .featured .desc {
  margin-bottom: 30px;
}
.latest .featured-image {
  position: relative;
}
.latest .featured-image .text {
  background: #2574a9;
  color: #fff;
}
 .project-image {
    width:100%;
  }
.latest .featured-image .ribbon {
  position: absolute;
  top: -4px;
  right: -4px;
  width: 110px;
  height: 110px;
  overflow: hidden;
}
.latest .featured-image .ribbon .text {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  left: -8px;
  top: 18px;
  width: 158px;
  padding: 10px 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  background-color: #479FC8;
  -webkit-transform: rotate(45deg) translate3d(0, 0, 0);
  -moz-transform: rotate(45deg) translate3d(0, 0, 0);
  -ms-transform: rotate(45deg) translate3d(0, 0, 0);
  -o-transform: rotate(45deg) translate3d(0, 0, 0);
}
.latest .featured-image .ribbon .text:before,
.latest .featured-image .ribbon .text:after {
  content: '';
  position: absolute;
  bottom: -5px;
  border-top: 5px solid #276582;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}
.latest .featured-image .ribbon .text:before {
  left: 0;
}
.latest .featured-image .ribbon .text:after {
  right: 0;
}
/* Projects Section */
.projects .item {
  margin-bottom: 30px;
}
.projects .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}
.projects .item .title a {
  color: #778492;
}
.projects .item .title a:hover {
  color: #5f6b77;
}
/* Work Section */
.experience .item {
  margin-bottom: 30px;
}
.experience .item .title {
  font-size: 16px;
  margin-top: 0;
  margin-bottom: 5px;
  line-height: 1.5;
}
.experience .item .title .place {
  color: #999;
  font-weight: normal;
}
.experience .item .title .place a {
  color: #999;
}
.experience .item .title .place a:hover {
  color: #666666;
}
.experience .item .title .year {
  color: #999;
  font-weight: normal;
}
/* Git section */
.github-graph {
  margin-bottom: 30px;
}
.github-graph .js-calendar-graph-svg {
  max-width: 100%;
}
.ghfeed {
  height: 600px;
}
.ghfeed,
.ghfeed *,
.ghfeed *:before,
.ghfeed *:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
/* Info Section */
.info .fa {
  margin-right: 15px;
  color: #ccd1d6;
}
.info .fa.fa-envelope-o {
  font-size: 14px;
}
.info ul {
  margin-bottom: 0;
}
.row {
     margin-right: -15px; 
     margin-left: -15px; 
   
   
}
.info li {
  margin-bottom: 15px;
}
.info li:last-child {
  margin-bottom: 0;
}
/* Skills Section */
.skills .intro {
  margin-bottom: 30px;
}
.skills .skillset .item {
  margin-bottom: 30px;
}
.skills .skillset .level-title {
  font-size: 16px;
  position: relative;
  margin-top: 0px;
  margin-bottom: 10px;
}
.skills .skillset .level-title .level-label {
  color: #ccd1d6;
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", arial, sans-serif;
  position: absolute;
  right: 0;
  top: 0;
}
.skills .skillset .level-bar {
  height: 15px;
  background: #e8e8e8;
}

/* Testimonials section */
.testimonials .item {
  margin-bottom: 30px;
}
.testimonials .item:last-child {
  margin-bottom: 0;
}
.testimonials .item .quote {
  color: #666;
  font-size: 16px;
  border-left-color: #2574a9;
  margin-bottom: 15px;
}
#success_message{ display: none;}

.contact-info-list {
    border-left: 1px solid #2574a9;
}
.contact-info-list li {
    font-size: 14px;
    line-height: 35px;
    list-style: outside none none;
}
ul.contact-info-list li span {
    color: #2574a9;
}
.testimonials .item .quote .fa {
  color: #2574a9;
  margin-right: 15px;
}
.testimonials .item .source {
  font-size: 14px;
  padding-left: 30px;
  font-weight: 500;
}

.testimonials .item .source .name {
  color: #939ea9;
  font-weight: 600;
}
.testimonials .item .source .title {
  color: #999;
}
/* Education section */
.education .item {
  margin-bottom: 30px;
}
.education .item:last-child {
  margin-bottom: 0;
}
.education .item .title {
  font-size: 16px;
  margin-top: 0;
}
.education .item .university {
  font-family: "Lato", arial, sans-serif;
  font-size: 13px;
  color: #999;
  font-weight: 600;
  padding-left: 25px;
}
.education .item .university .year {
  color: #b0b7bf;
  font-weight: 500;
}
/* Language Section */
.languages .item {
  margin-bottom: 15px;
}
.languages .item .title {
  color: #778492;
}
.languages .item .level {
  color: #999;
}
.languages .item:last-child {
  margin-bottom: 0;
}
.languages .item .fa {
  color: #2574a9;
}
/* Blog Section */
.blog .item {
  margin-bottom: 30px;
}
.blog .item .title {
  font-size: 18px;
  line-height: 1.3;
}
.blog .item .title a {
  color: #778492;
}
.blog .item .title a:hover {
  color: #5f6b77;
}
.blog .item:last-child {
  margin-bottom: 0;
}
/* List section */
.list ul li {
  margin-bottom: 10px;
}
.list ul li .fa {
  margin-right: 5px;
}
.list ul li a {
  color: #778492;
}
.list ul li a:hover {
  color: #49515a;
}
/* Credits */
.credits ul li {
  margin-bottom: 10px;
}
.credits ul li .fa {
  margin-right: 5px;
}
.credits ul li a {
  color: #778492;
}
.credits ul li a:hover {
  color: #49515a;
}
.credits .btn {
  margin-bottom: 15px;
}
/* ======= Footer ======= */
.footer {
  background: #32383e;
  color: #fff;
  padding: 10px 0;
}
.footer .copyright {
  line-height: 1.6;
  color: #a1aab4;
  font-size: 14px;
}
.footer a {
  color: #fff;
}
.footer .fa-heart {
  color: #fb866a;
}
/* Extra small devices (phones, less than 768px) */
@media (max-width: 767px) {
  .header {
    text-align: center;
  }
  .header .profile-image {
    float: none !important;
    margin: 0 auto;
  }
  .header .profile-content {
    float: none !important;
    text-align: center;
  }
  .header .btn {
    margin-top: 30px;
    float: none !important;
  }
  .project-image {
    margin-bottom: 15px;
  }
}
/* Small devices (tablets, 768px and up) 538px*/
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
/* Ex-Large devices (large desktops, 1200px and up) 1400px*/
@media (max-width: 538px) {
  .container {
    width: 100%;/*//1360px*/
  }
  
  .custom-header {
      background: transparent url("../images/split.png") no-repeat scroll right top;
  }
}
@media (min-width:320px) { 
    .custom-header {
      background: transparent;
  }
  .main{
      margin-top: 20px;
  }
  .info-list {
      padding-left: 0px!important;
  }
  .header .profile-content .name {
    color: #2574a9;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 30px;
    text-shadow: 0 1px 1px #c8c8c8;
}
.header .profile-content .desc {
    color: #778492;
    font-family: "Lato",arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0;
}
.contact-info-list{
      padding-left: 0px;
      border-left: 0px;
  }
  .contact-info-list li {
    font-size: 9px;
    line-height: 35px;
    list-style: outside none none;
}
.social-icons {
    padding: 20px 0px ;
}

.timeline-section {
    padding-right: 0px;
}
.timeline-section{
    padding-left: 0px;
}
.timeline li .timelineUnit h4 {
    color: #444;
    font-size: 13px;
    line-height: 24px;
}
.timeline li .timelineUnit .timelineDate {
    color: #2574a9;
    float: right;
    font-size: 10px;
    font-weight: normal;
    line-height: 17px;
    margin-left: 10px;
    padding: 2px 6px;
}
.timeline li .timelineUnit h5 {
    color: #999;
    font-size: 12px;
    line-height: 15px;
}
.timeline li .timelineUnit {
    border-left: 0 none;
    color: #444;
    font-size: 13px;
    line-height: 17px;
    margin-left: 0;
    padding-left: 0;
}
 }
 @media (max-width:319px) { 
  .info-list {
      padding: 0px!important;
  }
  .social-icons {
    padding: 20px 0px ;
}

  .header .profile-content .name {
    color: #2574a9;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 30px;
    text-shadow: 0 1px 1px #c8c8c8;
}
.header .profile-content .desc {
    color: #778492;
    font-family: "Lato",arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0;
}
.contact-info-list{
      padding-left: 0px;
      border-left: 0px;
  }
  .contact-info-list li {
    font-size: 9px;
    line-height: 35px;
    list-style: outside none none;
}

.timeline-section{
    padding-left: 0px;
}
.timeline li .timelineUnit h4 {
    color: #444;
    font-size: 13px;
    line-height: 24px;
}
.timeline li .timelineUnit .timelineDate {
    color: #2574a9;
    float: right;
    font-size: 10px;
    font-weight: normal;
    line-height: 17px;
    margin-left: 10px;
    padding: 2px 6px;
}
.timeline li .timelineUnit h5 {
    color: #999;
    font-size: 12px;
    line-height: 15px;
}
.timeline li .timelineUnit {
    border-left: 0 none;
    color: #444;
    font-size: 13px;
    line-height: 17px;
    margin-left: 0;
    padding-left: 0;
}

 }
@media (min-width:481px) { 
     .custom-header {
      background: transparent;
  }
  .social-icons {
    padding: 20px 0px ;
}
  .header .profile-content .name {
    color: #2574a9;
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 30px;
    text-shadow: 0 1px 1px #c8c8c8;
}
.header .profile-content .desc {
    color: #778492;
    font-family: "Lato",arial,sans-serif;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0;
}
   .main {
      margin-top: 20px;
  }
  .info-list {
      padding-left: 0px!important;
  }
  .contact-info-list{
      padding-left: 0px;
      border-left: 0px;
  }
  .contact-info-list li {
    font-size: 9px;
    line-height: 35px;
    list-style: outside none none;
}
.timeline-section {
    padding-right: 20px;
}
.timeline li .timelineUnit h4 {
    color: #444;
    font-size: 15px;
    line-height: 24px;
}
.timeline li .timelineUnit h5 {
    color: #999;
    font-size: 13px;
    line-height: 18px;
}
.timeline li .timelineUnit .timelineDate {
    color: #2574a9;
    float: right;
    font-size: 14px;
    font-weight: normal;
    line-height: 17px;
    margin-left: 10px;
    padding: 2px 6px;
}
.timeline li .timelineUnit {
    border-left: 1px solid #2574a9;
    color: #444;
    font-size: 13px;
    line-height: 17px;
    margin-left: 0;
    padding-left: 15px;
}
 }
@media (min-width:641px) {
     .custom-header {
      background: transparent;
  }
   .main{
      margin-top: 40px;
  }
   .info-list {
      padding-left: 40px!important;
  }
  .social-icons {
    padding: 20px 40px ;
}
.contact-info-list{
      padding-left: 40px;
    border-left: 1px solid #2574a9;
}
.timeline-section {
    padding-right: 60px;
}
  .contact-info-list li {
    font-size: 14px;
    line-height: 35px;
    list-style: outside none none;
}
 }
@media (min-width:961px) { 
    .custom-header {
      background: transparent url("../images/split.png") no-repeat scroll right top;
     
  }
  .info-list {
      padding-left: 40px!important;
  }
   .main{
      margin-top: 40px;
  }
 }
/*=================================================================*/


li a, .dropbtn {
    display: inline-block;
    color: rebeccapurple;
    text-align: center;
    padding: 2px 0px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: #778492;
}
li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropdown-content a {
    color: beige;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*.dropdown-content a:hover {background-color: #f1f1f1}*/

.dropdown:hover .dropdown-content {
    display: block;
}

